@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>2FA kurmak için aşağıdaki butona tıklayın.</p>

    <hr />

    <a href="/Home/Enable2FA" class="btn btn-primary" style="padding:10px 20px; font-size:16px;">
        QR Kodu Görüntüle
    </a>
</div>